.App {
	text-align: center;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 40vmin;
	pointer-events: none;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

header {
	height: 10vh;
}

nav {
	width: 100vw;
	height: 8vh;
}

footer {
	width: 100vw;
	max-height: 15vh;
	text-align: left;
	display: flex;
	margin-top: 5vh;
	background: rgba(0, 0, 139, 0.2);
}
footer small {
	margin: 2vw;
}

hr {
	width: 30vw;
}

h1 {
	font-size: 2.5em;
}

a {
	color: white;
	text-decoration: none;
}
a:hover {
	color: darkorange;
	text-decoration: underline;
}

button {
	margin: 1vw;
}

button:focus {
	outline: none !important;
	border: 2px solid darkorange;
}

.header-div {
	margin-bottom: 5vh;
	background: rgba(0, 0, 139, 0.4);
}

.nav-flex {
	width: 100vw;
}

.all-writers {
	min-height: 70vh;
}

.single-writer img {
	width: 25vw;
	margin: 2vw;
}

.all-samples {
	min-height: 70vh;
}

.all-writers {
	min-height: 70vh;
}

.single-sample {
	min-height: 70vh;
	width: 80vw;
}

.contact-form {
	background: beige;
	width: 30vw;
}
